<div class="chat-page">
  <div class="chat-header">
    <button class="back-btn" (click)="volver()">❮</button>
    <div class="chat-user-info" *ngIf="receptorNombre">
      <strong>{{ receptorNombre }}</strong>
    </div>
  </div>

  <div class="messages-container" id="message-area">
    @for (msg of mensajes(); track msg) {
    <div class="message-row" [ngClass]="{'row-me': msg.soyYo, 'row-other': !msg.soyYo}">
      <div class="bubble">
        {{ msg.texto }}
        <span class="time">{{ msg.hora }}</span>
      </div>
    </div>
  }
  </div>

  <div class="chat-footer">
    <input
      type="text"
      class="chat-input"
      [(ngModel)]="nuevoMensaje"
      placeholder="Escribe un mensaje..."
      (keyup.enter)="enviarMensaje()">
    <button class="send-btn" (click)="enviarMensaje()">➤</button>
  </div>
</div>
