<div class="live-viewer-container">
  <!-- Cabecera con info del usuario -->
<div class="live-header">
  <div class="user-info">
    <div class="avatar-container">
      <img [src]="usuario?.fotoPerfil || usuario?.fotoUrl || 'assets/img/default-user.png'"
           class="user-avatar">
    </div>

    <div class="text-info">
      <div class="live-indicator">EN DIRECTO</div>
      <span class="username">{{ usuario?.username || 'Cargando...' }}</span>
      <small style="color: white; display: block;">ID: {{ userId }}</small>
    </div>
  </div>
  <button class="btn-close" routerLink="/">×</button>
</div>
  <!-- Contenedor del Video -->
  <div class="video-section">
    <!-- Por ahora es un placeholder hasta que conectes el stream real -->
    <div class="video-overlay">
      <div class="loading-spinner"></div>
      <p>Esperando señal de video...</p>
    </div>


    <!-- Agrega [muted]="true" solo para probar. Si funciona, es que el navegador bloqueaba el audio -->
<video #remoteVideo
       autoplay
       playsinline
       [muted]="true"
       style="width: 100%; height: 100%; object-fit: cover;">
</video>
  </div>

  <!-- Barra de interacción inferior -->
  <div class="live-footer">
    <input type="text" placeholder="Di algo lindo..." class="comment-input">
    <button class="btn-heart">❤️</button>
  </div>
</div>
