<router-outlet></router-outlet>

<!-- La barra debe estar aquí abajo, solita -->
<nav class="bottom-nav">
  <div class="nav-item" routerLink="/salle">
    <span>🏠</span>
    <p>Salle</p>
  </div>

  <div class="nav-item" routerLink="/discussion">
    <div class="badge">12</div>
    <span>💬</span>
    <p>Chat</p>
  </div>

  <div class="nav-item central" routerLink="/buscar-cancion">
    <div class="mic-circle">🎤</div>
  </div>

  <div class="nav-item" routerLink="/moment">
    <span>🌎</span>
    <p>Moment</p>
  </div>

  <div class="nav-item" routerLink="/profile">
    <span>👤</span>
    <p>Moi</p>
  </div>
</nav>
