<nav class="bottom-nav">
  <!-- MOI / YO (Lleva al Perfil) -->
  <div class="nav-item" (click)="navegar('/profile')" [class.active]="selectedTabNav === 'moi'">
    <i>👤</i>
    <span>Moi</span>
  </div>

  <!-- DISCUSSION / CHAT -->
  <div class="nav-item" (click)="navegar('/discussion')" [class.active]="selectedTabNav === 'chat'">
    <div class="badge">99+</div>
    <i>💬</i>
    <span>Discussion</span>
  </div>

  <!-- BOTÓN CENTRAL: CHANTER (Cantar) -->
  <div class="nav-item central" (click)="navegar('/buscar-cancion')">
    <div class="mic-circle">
      <span style="font-size: 25px;">🎤</span>
    </div>
  </div>

  <!-- MOMENT -->
  <div class="nav-item" (click)="navegar('/moment')" [class.active]="selectedTabNav === 'moment'">
    <i>🌎</i>
    <span>Moment</span>
  </div>

  <!-- SALLE / SALA -->
  <div class="nav-item" (click)="navegar('/salle')" [class.active]="selectedTabNav === 'salle'">
    <i>🏠</i>
    <span>Salle</span>
  </div>
</nav>
