<div class="profile-container">
  <div class="tabs">
    <button (click)="changeTab('homepage')" [class.active]="selectedTab === 'homepage'">Homepage</button>
    <button (click)="changeTab('moment')" [class.active]="selectedTab === 'moment'">Moment</button>
    <button (click)="changeTab('videos')" [class.active]="selectedTab === 'videos'">Videos</button>
    <button (click)="changeTab('collab')" [class.active]="selectedTab === 'collab'">Album</button>
  </div>

  @switch (selectedTab) {
    @case ('homepage') {
      <div class="tab-content">
        <h3>🏠 Homepage</h3>
        <p>Bienvenido a la página principal.</p>
      </div>
    }

    @case ('moment') {
      <div class="tab-content">
        <h3>📸 Momentos</h3>
      </div>
    }

    @case ('videos') {
      <div class="video-grid">

        <div class="video-card upload-box" (click)="videoInput.click()">
          <div class="plus-circle"><span>+</span></div>
          <p>Subir nuevo video</p>
          <input #videoInput type="file" (change)="onVideoSeleccionado($event)" hidden accept="video/*">
        </div>

        @for (video of videos; track video.id) {
          <div class="video-card">
            <div class="thumb-wrapper">
              <video [src]="video.urlVideo" class="video-preview" controls muted></video>
            </div>
            <p class="video-title">{{ video.titulo }}</p>
          </div>
        } @empty {
          <p>Aún no has subido ningún video.</p>
        }

      </div>
    }

    @case ('collab') {
      <div class="tab-content">
        <h3>🖼️ Álbum</h3>
      </div>
    }
  }
</div>
