<nav class="menu-bar">
  <div class="brand">SLAM</div>
  <div class="menu-buttons">
    <button (click)="go('/slam')">Remplis Quiz</button>
    <button *ngIf="esAdmin" (click)="go('/admin')">Administrador</button>
    <button class="menu-buttons" (click)="irABuscarAmigo()">
  🔍 Trouve un ami
    </button>
     <button class="menu-buttons" (click)="irRecargar()">
      Recharger
    </button>
     <button class="menu-buttons" (click)="irTienda()">
      Tienda
    </button>
    <button (click)="logout()">Quitter</button>
  </div>
</nav>
